@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 262 83% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 14% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 220 14% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 262 83% 58%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 262 83% 58%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 222.2 47.4% 11.2%;
    --sidebar-primary: 262 83% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 262 90% 95%;
    --sidebar-accent-foreground: 262 83% 58%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 262 83% 58%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;

    --primary: 263 70% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 216 34% 17%;
    --secondary-foreground: 213 31% 91%;

    --muted: 216 34% 17%;
    --muted-foreground: 226 64% 88%;

    --accent: 263 70% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --ring: 263 70% 50%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 213 31% 91%;
    --sidebar-primary: 263 70% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 216 34% 17%;
    --sidebar-accent-foreground: 213 31% 91%;
    --sidebar-border: 216 34% 17%;
    --sidebar-ring: 263 70% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
